
# 项目排除路径
/cmake-build-debug/

.Archive/
.markeditor/
!.metion/
.metion/*
!.metion/*_sort.config
.markdown/
.sync/
.idea/
.DS_STORE
Thumbs.db*
/.posts_info.json
/posts_info.json
/.git_settings.json
/git_settings.json
/.ios_file_manager_status*.json
/.farbox_token.*
/.farbox_auto_sync.*
/__wechat.json
/*.sqlite3
.db/
.configs/
*/.metion/
*/_image